<!DOCTYPE html>

<html>
	<head>
		<title>Congressional App</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<%= component :header %>
		<p>User '<%= session[:username] %>' has been authenticated.</p>
	</body>
</html>
